@model OHET_Project.Models.models.Hero 

@{
    ViewBag.Title = "Details";
}

@{ 
    string style = "half0";

    switch (Model.Class.name)
    {
        case "Warrior": style = "half0"; break;
        case "Rogue": style = "half1"; break;
        case "Barbarian": style = "half2"; break;
        case "Mage": style = "half3"; break;
        case "Priest": style = "half4"; break;
        case "Bard": style = "half5"; break;
        default: style = "half6"; break;
    }
}

<!-- TYTUŁ -->
<section id="three" class="wrapper style2">
    <div class="inner">
        <header class="align-center">
            <p class="special">Nam vel ante sit amet libero scelerisque facilisis eleifend vitae urna</p>
            <h2>Character Sheet</h2>
        </header>
    </div>
</section>
<!-- KARTA POSTACI -->
<section class="container">
    <article class="@style">
        <h1>@Html.DisplayFor(m => m.name)</h1>
        <h2 contenteditable="true">Drow @Model.Class.name Level @Html.DisplayFor(m => m.conceptLvl)</h2>
        <p class="detail" style="text-align:center">@Html.DisplayFor(m => m.description)</p>
        <div class="content">
            <div class="main-cont cont">
                <form action="#" method="post" enctype="multipart/form-data">

                    <div class="stats">
                        <div>
                            <label for="hitpoints">Hitpoints</label>
                            <input type="number" id="hitpoints" class="inpt number" value="18">
                        </div>
                        <div>
                            <label for="armor">Armor Class</label>
                            <input type="number" name="armor" id="armor" class="inpt number" required="required" placeholder="0" value="15">
                        </div>
                        <div>
                            <label for="speed">Speed</label>
                            <input type="number" name="speed" id="speed" class="inpt number" required="required" placeholder="0" value="30">
                        </div>
                    </div>
                    <hr>
                    <div class="stats abilities">
                        <div>
                            <label for="str">STR</label>
                            <div id="str" class="stat" contenteditable="true">@Html.DisplayFor(m => m.StrAttribute)</div>
                        </div>
                        <div>
                            <label for="dex">DEX</label>
                            <div id="dex" class="stat" contenteditable="true">@Html.DisplayFor(m => m.DexAttribute)</div>
                        </div>
                        <div>
                            <label for="con">CON</label>
                            <div id="con" class="stat" contenteditable="true">@Html.DisplayFor(m => m.ConAttribute)</div>
                        </div>
                    </div>
                    <div class="stats abilities">
                        <div>
                            <label for="int">INT</label>
                            <div id="int" class="stat" contenteditable="true">@Html.DisplayFor(m => m.IntAttribute)</div>
                        </div>
                        <div>
                            <label for="wis">WIS</label>
                            <div id="wis" class="stat" contenteditable="true">@Html.DisplayFor(m => m.WisAttribute)</div>
                        </div>
                        <div>
                            <label for="cha">CHA</label>
                            <div id="cha" class="stat" contenteditable="true">@Html.DisplayFor(m => m.ChaAttribute)</div>
                        </div>
                    </div>
                    <hr>

                    <div class="profs">
                        <h3>Proficiencies <span class="detail">(+2 Proficiency Bonus)</span></h3>

                        <ul>
                            <li><span class="bold">Saving Throws</span> <span contenteditable="true">Dex +5, Int +3</span></li>
                            <li><span class="bold">Skills</span><span contenteditable="true"> Deception +5, Insight +3, Investigation +3, Perception +5*, Persuasion +5, Sleight of Hand +5, Stealth +7*</span></li>
                            <li><span class="bold">Tools</span> <span contenteditable="true">disguise kit, poisoner’s kit, thieves’ tools</span></li>
                            <li><span class="bold">Armor</span> <span contenteditable="true">Light Armor (studded leather)</span></li>
                            <li><span class="bold">Weapons</span> <span contenteditable="true">simple weapons, hand crossbows, longswords, rapiers, shortswords</span></li>
                            <li><span class="bold">Senses</span> <span contenteditable="true">passive (Perception) 15</span></li>
                            <li><span class="bold">Languages</span> <span contenteditable="true">Common, Elvish, Undercommon, thieves’ cant</span></li>
                        </ul>
                    </div>
                </form>

            </div>
        </div>
    </article>
    <div class="@style bg"></div>
</section>

@Scripts_()
@Styles_()

@helper Styles_()
{
    <link href="@Url.Content("~/Content/character_sheet_01.css")" rel="stylesheet" type="text/css" />
}

@helper Scripts_()
{
    <script src="@Url.Content("~/Scripts/character-sheet-scripts.js")"></script>
}