<section id="one" class="wrapper style2">
    <div class="inner">
        <div class="grid-style">
            <div>
                <div class="box">
                    <div class="image fit">
                        <img src="" alt="" />
                    </div>
                    <div class="content">
                        <header class="align-center">
                            <p></p>
                            <h2>Classes</h2>
                        </header>
                        <p></p>
                        <footer class="align-center">
                            <a href="@Url.Action("Index", "Classes")" class="button alt">Wybierz</a>
                        </footer>
                    </div>
                </div>
            </div>
            <div>
                <div class="box">
                    <div class="image fit">
                        <img src="" alt="" />
                    </div>
                    <div class="content">
                        <header class="align-center">
                            <p></p>
                            <h2>Rules</h2>
                        </header>
                        <p></p>
                        <footer class="align-center">
                            <a href="@Url.Action("Index", "Rules")" class="button alt">Wybierz</a>
                        </footer>
                    </div>
                </div>
            </div>
            <div>
                <div class="box">
                    <div class="image fit">
                        <img src="" alt="" />
                    </div>
                    <div class="content">
                        <header class="align-center">
                            <p></p>
                            <h2>Adventures</h2>
                        </header>
                        <p></p>
                        <footer class="align-center">
                            <a href="@Url.Action("Index", "Adventures")" class="button alt">Wybierz</a>
                        </footer>
                    </div>
                </div>
            </div>
            <div>
                <div class="box">
                    <div class="image fit">
                        <img src="" alt="" />
                    </div>
                    <div class="content">
                        <header class="align-center">
                            <p></p>
                            <h2>Items</h2>
                        </header>
                        <p></p>
                        <footer class="align-center">
                            <a href="@Url.Action("Index", "Items")" class="button alt">Wybierz</a>
                        </footer>
                    </div>
                </div>
            </div>
            <div>
                <div class="box">
                    <div class="image fit">
                        <img src="" alt="" />
                    </div>
                    <div class="content">
                        <header class="align-center">
                            <p></p>
                            <h2>Spells</h2>
                        </header>
                        <p></p>
                        <footer class="align-center">
                            <a href="@Url.Action("Index", "Spells")" class="button alt">Wybierz</a>
                        </footer>
                    </div>
                </div>
            </div>
            <div>
                <div class="box">
                    <div class="image fit">
                        <img src="" alt="" />
                    </div>
                    <div class="content">
                        <header class="align-center">
                            <p></p>
                            <h2>Monsters</h2>
                        </header>
                        <p></p>
                        <footer class="align-center">
                            <a href="@Url.Action("Index", "Monsters")" class="button alt">Wybierz</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>