@model OHET_Project.Models.models.Ability

@{
    ViewBag.Title = "Create";
}

<section id="three" class="wrapper style2">
    <div class="inner">
        <div class="inner">
            <header class="align-center">
                <p class="special"></p>
                <h2>Create Ability</h2>
            </header>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="12u$">
                @Html.EditorFor(model => model.conceptLvl, new { htmlAttributes = new { @class = "form-control", placeholder = "Concept Level", type = "text" } })
                @Html.ValidationMessageFor(model => model.conceptLvl, "", new { @class = "text-danger" })
            </div>
            <br />
            <div class="12u$">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control", placeholder = "Description" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>

            <br />

            <footer class="align-center">
                <button type="submit" class="button alt">Create</button>
            </footer>
        }
    </div>
    <div class="align-center">
        @Html.ActionLink("Back to Class", "Details", "Classes", new { id = ViewBag.IDClass }, new { })
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
