@model IEnumerable<OHET_Project.Models.models.Class>

@{
    ViewBag.Title = "Index";
}

<section id="three" class="wrapper style2">
    <div class="inner">
        <header class="align-center">
            <p class="special"></p>
            @if (ViewBag.isOff)
            {
                <h2>Official Classes</h2>
            }
            else
            {
                <h2>Homebrew Classes</h2>
            }
        </header>
        <footer class="align-center">
            @if ((User.IsInRole("User") || User.IsInRole("Editor") || User.IsInRole("Admin")) && !ViewBag.isOff)
            {
                <a href="@Url.Action("Create", "Classes", new { isOff = ViewBag.isOff })" class="button alt">Create Class</a>
            }
            <br />
            <br />
            @Html.ActionLink("Back to Content", "Content", "Home")
        </footer>
    </div>
</section>

<section id="one" class="wrapper style2">
    <div class="inner">
        <div class="grid-style">
            @foreach (var item in Model.OrderBy(x => x.name))
            {
                if (@item.Content.ApplicationUserId == ViewBag.userId || @item.Content.isOfficial == true)
                {
                    <div>
                        <div class="box">
                            <div class="image fit">
                                <img src='@Url.Action("ShowClass", "Image", new { id = item.IDClass })' alt='' />
                            </div>
                            <div class="content">
                                <header class="align-center">
                                    @if (item.isSpellcaster)
                                    {
                                        <p class="special">Spellcaster</p>
                                    }
                                    else
                                    {
                                        <p class="special"></p>
                                    }
                                    <h2>@item.name</h2>
                                </header>
                                <p class="align-center">
                                    @if (@item.description.Split().ToArray().Length <= 20)
                                    {
                                        @item.description
                                    }
                                    else
                                    {
                                        @(String.Join(" ", @item.description.Split().Take(20))+"...")
                                    }
                                </p>
                                <footer class="align-center">
                                    <a href="@Url.Action("Details", "Classes", new { id = item.IDClass })" class="button alt">Details</a>
                                    @if (@item.Content.ApplicationUserId == ViewBag.userId || User.IsInRole("Admin"))
                                    {
                                        <a href="@Url.Action("Edit", "Classes", new { id = item.IDClass })" class="button alt">Edit</a>
                                        <a href="@Url.Action("Delete", "Classes", new { id = item.IDClass })" class="button alt">Delete</a>
                                    }
                                </footer>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="align-center">
            @Html.ActionLink("Back to Content", "Content", "Home")
        </div>
    </div>
</section>
