@model IEnumerable<OHET_Project.Models.models.Class>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
@foreach (var item in Model.OrderBy(x => x.name)) {
    if (@item.Content.ApplicationUserId == ViewBag.userId || @item.Content.isOfficial == true)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            @if (@item.description.Split().ToArray().Length <= 20)
            {
                <td>
                    @item.description
                </td>
            }
            else
            {
                <td>
                    @String.Join(" ", @item.description.Split().Take(20))
                    @Html.ActionLink("...", "Details", new { id = item.IDClass })
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.isSpellcaster)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.IDClass })
            </td>
            @if (@item.Content.ApplicationUserId == ViewBag.userId || User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IDClass }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IDClass })
                </td>
            }
        </tr>
    }
}
</table>
