@model IEnumerable<OHET_Project.Models.models.Rule>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" class="btn btn-default" />
        @Html.ActionLink("Clear", "Index")
    </p>
}

<table class="table">
    @*
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>
    *@
@foreach (var item in Model.OrderBy(x => x.title)) {
    if (@item.Content.ApplicationUserId == ViewBag.userId || @item.Content.isOfficial == true)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        @if (@item.description.Split().ToArray().Length <= 20)
        {
            <td>
                @item.description
            </td>
        }
        else
        {
            <td>
                @String.Join(" ", @item.description.Split().Take(20))
                @Html.ActionLink("...", "Details", new { id = item.IDRule })
            </td>
        }
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.IDRule })
        </td>
        @if (@item.Content.ApplicationUserId == ViewBag.userId || User.IsInRole("Admin"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDRule }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDRule })
            </td>
        }
    </tr>
    }
}

</table>
