@model IEnumerable<OHET_Project.Models.models.Hero>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        @if (@item.description.Split().ToArray().Length <= 20)
        {
            <td>
                @item.description
            </td>
        }
        else
        {
            <td>
                @String.Join(" ", @item.description.Split().Take(20))
            </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.gold)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.exp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IDHero }) |
            @Html.ActionLink("Details", "Details", new { id = item.IDHero }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IDHero })
        </td>
    </tr>
}

</table>
