@model OHET_Project.Models.models.Post

@{
    ViewBag.Title = "Details";
}

<section id="three" class="wrapper style2">
    <div class="inner">
        @if (Model.image != null)
        {
        <center>
            <span class="image fit"><img src='@Url.Action("ShowPost", "Image", new { id = Model.IDPost })' style="width:1100px;height:550px;" />
            </span>
        </center>
        }
        <div class="inner">
            <header class="align-center">
                <p class="special">@Model.Date.ToString("dd/MM/yyyy") by @Model.ApplicationUser.Email.Split('@')[0]</p>
                <h2>@Model.Title</h2>
            </header>
            <div class="align-center">
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
        @if (((Model.ApplicationUserId == ViewBag.userId && User.IsInRole("Editor")) || User.IsInRole("Admin")) && Model.isPublic == false)
        {
            <div class="align-center">
                <a href="@Url.Action("Create", "Subposts", new { id = Model.IDPost })" class="button alt">Create subarticle</a>
            </div>
        }
        <br />
        <div class="12u$">
            @Model.Description
        </div>
        <br />
        <footer class="align-center">
            @if ((Model.ApplicationUserId == ViewBag.userId && User.IsInRole("Editor")) || User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Edit", "Posts", new { id = Model.IDPost })" class="button alt">Edit</a>
                <a href="@Url.Action("Delete", "Posts", new { id = Model.IDPost })" class="button alt">Delete</a>
            }
        </footer>
        <br />
        @foreach (var item in Model.subposts.OrderBy(x => x.OrderNr))
        {
            <div class="inner">
                <header class="align-center">
                    <p class="special"></p>
                    <h3>@item.Title</h3>
                </header>
            </div>
            <div class="12u$">
                @item.Description
            </div>
            <br />
            if ((item.Post.ApplicationUserId == ViewBag.userId && User.IsInRole("Editor")) || User.IsInRole("Admin"))
            {
                <div class="align-center">
                    <a href="@Url.Action("Edit", "Subposts", new { id = @item.IDSubpost })" class="button alt">Edit</a>
                    <a href="@Url.Action("Delete", "Subposts", new { id = @item.IDSubpost })" class="button alt">Delete</a>
                </div>
            }
            <br />
        }
        <br />
        <div class="inner">
            <header>
                <p class="special"></p>
                <br />
                <h3>Comments</h3>
            </header>
        </div>
        <a href="@Url.Action("Create", "Comments", new { id = Model.IDPost })" class="button alt">Comment</a>
        <br />
        <br />
        @foreach (var item2 in Model.comments.OrderBy(x => x.Date))
        {
            <div class="12u$">
                @item2.ApplicationUser.Email.Split('@')[0] | @item2.Date.ToString("dd/MM/yyyy hh:mm")
                @Html.TextAreaFor(model => item2.Description, new { @class = "form-control", disabled = "disabled", @rows = 4 })
            </div>
            if (item2.ApplicationUserId == ViewBag.userId || (item2.Post.ApplicationUserId == ViewBag.userId && User.IsInRole("Editor")) || User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Edit", "Comments", new { id = @item2.IDComment })" class="button alt">Edit</a>
                <a href="@Url.Action("Delete", "Comments", new { id = @item2.IDComment })" class="button alt">Delete</a>
                <br />
            }
            <br />
        }
        <div class="align-center">
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</section>