@model OHET_Project.Models.models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Email) |
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

@foreach (var item in Model.subposts)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
    </tr>
}

@foreach (var item in Model.comments)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description) |
            @Html.DisplayFor(modelItem => item.ApplicationUser.Email) |
            @Html.DisplayFor(modelItem => item.Date)
        </td>
    </tr>
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDPost }) |
    @Html.ActionLink("Back to List", "Index")
</p>
