@model IEnumerable<OHET_Project.Models.models.Post>

@{
    ViewBag.Title = "Index";
}

<section id="three" class="wrapper style2">
    <div class="inner">
        <header class="align-center">
            <h2>Articles</h2>
        </header>
        <footer class="align-center">
            @if(User.IsInRole("Editor") || User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Create", "Posts")" class="button alt">Create Article</a>
            }
        </footer>
    </div>
</section>

<section id="one" class="wrapper style2">
    <div class="inner">
        <div class="grid-style">
            @foreach (var item in Model.OrderByDescending(x => x.Date))
            {
                if (item.ApplicationUserId == ViewBag.userId || item.isPublic)
                {
                    <div>
                        <div class="box">
                            <div class="image fit">
                                <img src='@Url.Action("ShowPost", "Image", new { id = item.IDPost })' alt='' />
                            </div>
                            <div class="content">
                                <header class="align-center">
                                    <p>@item.Date.ToString("dd/MM/yyyy") by @item.ApplicationUser.Email.Split('@')[0]</p>
                                    <h2>@item.Title</h2>
                                </header>
                                <p class="align-center">
                                    @item.comments.Count comments | 
                                    @{
                                        int t = @item.Description.Split(' ').Count();
                                    }
                                    @foreach (var i in item.subposts)
                                    {
                                        t = t + i.Description.Split(' ').Count();
                                    }
                                    @{
                                        t = t / 200;
                                    }
                                    @t min
                                </p>
                                <footer class="align-center">
                                    @if (@item.ApplicationUserId == ViewBag.userId || User.IsInRole("Admin"))
                                    {
                                        if (@item.isPublic == true)
                                        {
                                            <a href="@Url.Action("PublishOrUnpublish", "Posts", new { id = item.IDPost })" class="button alt">Unpublish</a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("PublishOrUnpublish", "Posts", new { id = item.IDPost })" class="button alt">Publish</a>
                                        }
                                        <a href="@Url.Action("Edit", "Posts", new { id = item.IDPost })" class="button alt">Edit</a>
                                        <a href="@Url.Action("Delete", "Posts", new { id = item.IDPost })" class="button alt">Delete</a>
                                    }
                                    <a href="@Url.Action("Details", "Posts", new { id = item.IDPost })" class="button alt">Details</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>