@model OHET_Project.Models.models.Spell

@{
    ViewBag.Title = "Edit";
}

<section id="three" class="wrapper style2">
    <div class="inner">
        <div class="inner">
            <header class="align-center">
                <p class="special"></p>
                <h2>Edit Spell</h2>
            </header>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.IDSpell)
            @Html.HiddenFor(model => model.IDContent)
            <div class="12u$">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", placeholder = "Name" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
            <br />
            <div class="12u$">
                @Html.TextAreaFor(model => model.description, 12, 1, htmlAttributes: new { @class = "form-control", @placeholder = "Description" })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
            <br />
            <div class="12u$">
                @Html.EditorFor(model => model.conceptLvl, new { htmlAttributes = new { @class = "form-control", placeholder = "Concept Level", type = "text" } })
                @Html.ValidationMessageFor(model => model.conceptLvl, "", new { @class = "text-danger" })
            </div>
            <br />
            <div class="12u$">
                @Html.DropDownList("IDClass", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDClass, "", new { @class = "text-danger" })
            </div>

            <br />

            <footer class="align-center">
                <button type="submit" class="button alt">Edit</button>
            </footer>
        }
    </div>
    <div class="align-center">
        @if (Model.Content.ApplicationUserId == ViewBag.userId)
        {
            @Html.ActionLink("Back to List", "Index", new { isOff = ViewBag.isOff })
        }
        else
        {
            @Html.ActionLink("Back to List", "Details", "Contents", new { id = Model.IDContent }, new { })
        }
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
