@model IEnumerable<OHET_Project.Models.models.Content>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            My Content
        </th>
        <th></th>
    </tr>
@foreach (var item in Model)
{
    if (@item.ApplicationUser.Id == @ViewBag.UserId)
    {
    <tr>
        <td>
            @ViewBag.UserName's Content
        </td>
        @if (@item.isPublic == true)
        {
            <td>
                @Html.ActionLink("Publish", "Publish") |
            </td>
        }
        else
        {
            <td>
                @Html.ActionLink("Unpublish", "Unpublish") |
            </td>
        }
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.IDContent })
        </td>
    </tr>
    }
}
</table>

<table class="table">
    <tr>
        <th>
            Favourite Contents
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        @*IF IsFavourite == true*@
        if (1==0)
        {
        <tr>
            <td>
                @item.ApplicationUser.UserName.Substring(0, @item.ApplicationUser.UserName.IndexOf('@'))'s Content
            </td>
            <td>
                @Html.ActionLink("Add to favourite", "")
                @Html.ActionLink("Details", "Details", new { id = item.IDContent })
            </td>
        </tr>
        }
    }
</table>



<table class="table">
    <tr>
        <th>
            Public Contents
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        @*IF IsFavourite == false*@
        if (@item.isPublic == true && @item.isOfficial == false)
        {
        <tr>
            <td>
                @item.ApplicationUser.UserName.Substring(0, @item.ApplicationUser.UserName.IndexOf('@'))'s Content
            </td>
            <td>
                @Html.ActionLink("Add to favourite", "")
                @Html.ActionLink("Details", "Details", new { id=item.IDContent })
            </td>
        </tr>
        }
    }
</table>
