@model OHET_Project.Models.ViewModel.ContentViewModel

@{
    ViewBag.Title = "Index";
}

<section id="one" class="wrapper style2">
    <div class="inner">
        <div class="align-center">
            @foreach (var item in Model.Contents)
            {
                if (@item.ApplicationUser.Id == @ViewBag.UserId)
                {
                    <div>
                        <div class="box">
                            <div class="content">
                                <header class="align-center">
                                    @if (item.isOfficial)
                                    {
                                        <p class="special">Official Content</p>
                                    }
                                    else
                                    {
                                        <p class="special">Homebrew Content</p>
                                    }
                                    <h2>My Content</h2>
                                </header>
                                <footer class="align-center">
                                    <a href="@Url.Action("Details", "Contents", new { id = item.IDContent })" class="button alt">Details</a>
                                    @if (@item.isPublic == true)
                                    {
                                        <a href="@Url.Action("PublishOrUnpublish", "Contents", new { id = item.IDContent })" class="button alt">Unpublish</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("PublishOrUnpublish", "Contents", new { id = item.IDContent })" class="button alt">Publish</a>
                                    }
                                </footer>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>

@if (Model.FavCons.Where(x => x.ApplicationUser.Id == @ViewBag.UserId).Any())
{
<section id="three" class="wrapper style2">
    <div class="inner">
        <header class="align-center">
            <h2>Favourite Content</h2>
        </header>
    </div>
</section>

<section id="one" class="wrapper style2">
    <div class="inner">
        <div class="align-center">
            @foreach (var item in Model.FavCons.OrderBy(x => x.ApplicationUser.UserName))
            {
                if (@item.ApplicationUser.Id == @ViewBag.UserId)
                {
                    <div>
                        <div class="box">
                            <div class="content">
                                <header class="align-center">
                                    <p>Favourite Content</p>
                                    <h2>@item.ApplicationUser.Email.Split('@')[0]'s Content</h2>
                                </header>
                                <footer class="align-center">
                                        <a href="@Url.Action("DeleteFav", "Contents", new { id = item.IDFavCon })" class="button alt">Delete from favourite</a>
                                        <a href="@Url.Action("Details", "Contents", new { id = item.IDContent })" class="button alt">Details</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
}

@if (Model.Contents.Where(x => x.ApplicationUser.Id == @ViewBag.userId & x.isOfficial == false & x.isPublic == true).Any())
{
<section id="three" class="wrapper style2">
    <div class="inner">
        <header class="align-center">
            <h2>Public Content</h2>
        </header>
    </div>
</section>

<section id="one" class="wrapper style2">
    <div class="inner">
        <div class="align-center">
            @foreach (var item in Model.Contents.OrderBy(x => x.ApplicationUser.UserName))
            {
                if (ViewBag.userId != item.ApplicationUserId && @item.isPublic == true && @item.isOfficial == false)
                {
                    <div>
                        <div class="box">
                            <div class="content">
                                <header class="align-center">
                                    <p>Public Content</p>
                                    <h2>@item.ApplicationUser.Email.Split('@')[0]'s Content</h2>
                                </header>
                                <footer class="align-center">
                                    <a href="@Url.Action("AddFav", "Contents", new { id = item.IDContent })" class="button alt">Add to favourite</a>
                                    <a href="@Url.Action("Details", "Contents", new { id = item.IDContent })" class="button alt">Details</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
}