<!DOCTYPE HTML>
<!--
    Hielo by TEMPLATED
    templated.co templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>OHET Legacy</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/Content/HieloTemplate/main.css" />
    @RenderSection("scripts", required: false)
</head>
<body>

    <!-- Header -->
    <header id="header" class="alt">
        <div class="logo"><a href="index.html">OHET Legacy<span> by Marcin & Imran</span></a></div>
        <a href="#menu">Menu</a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        @Html.Partial("_LoginPartial")
        <ul class="links">
            <li>@Html.ActionLink("Admin Panel", "Index", "ApplicationUsers", new { area = "" }, new { @class = "navbar-brand" })</li>
            <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
            <li>@Html.ActionLink("Articles", "Index", "Posts", new { area = "" }, new { @class = "navbar-brand" })</li>
            <li>@Html.ActionLink("My characters", "Index", "Heroes", new { area = "" }, new { @class = "navbar-brand" })</li>
            <li>@Html.ActionLink("Create Character", "Create", "Heroes", new { area = "" }, new { @class = "navbar-brand" })</li>
            <li>@Html.ActionLink("Manage Contents", "Index", "Contents", new { area = "" }, new { @class = "navbar-brand" })</li>
            <li>@Html.ActionLink("Content", "Content", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
        </ul>
    </nav>

    <!-- Banner -->
    <section class="banner full">
        <article>
            <img src="~/Images/cover.png" alt="" />
            <div class="inner">
                <header>
                    <p>Your Destiny</p>
                    <h2>OHET Legacy</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/Images/cover.png" alt="" />
            <div class="inner">
                <header>
                    <p>Lorem ipsum dolor sit amet nullam feugiat</p>
                    <h2>Magna etiam</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/Images/cover.png" alt="" />
            <div class="inner">
                <header>
                    <p>Adipiscing lorem ipsum feugiat sed phasellus consequat</p>
                    <h2>Etiam feugiat</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/Images/cover.png" alt="" />
            <div class="inner">
                <header>
                    <p>Ipsum dolor sed magna veroeros lorem ipsum</p>
                    <h2>Lorem adipiscing</h2>
                </header>
            </div>
        </article>
    </section>

    @RenderBody()

    <!-- Footer -->
    <footer id="footer">
        <div class="copyright">
            All Content is &copy;Copyright of Marcin Krupa &Aacute; Imran Muhammad <br>
            Trademark & &copy; of Outstanding Heroes and Extraordinary Threads 2017-2018 by kuglarz
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/Scripts/HieloJS/jquery.min.js"></script>
    <script src="~/Scripts/HieloJS/jquery.scrollex.min.js"></script>
    <script src="~/Scripts/HieloJS/skel.min.js"></script>
    <script src="~/Scripts/HieloJS/util.js"></script>
    <script src="~/Scripts/HieloJS/main.js"></script>

</body>
</html>
